*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper/gradle-wrapper.properties
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/dictionaries/Krishna.xml
/.idea/jarRepositories.xml
